@font-face {
	font-family: 'TWCENcondensed';
	src: url('TWCENcondensed.eot');
	src: local('☺'), url('TWCENcondensed.woff') format('woff'),
	url('TWCENcondensed.ttf') format('truetype'),
	url('TWCENcondensed.svg#TwCenMT-CondensedMedium') format('svg');
	font-weight: normal;
	font-style: normal;
}
.TWCENcondensed {font-family:TWCENcondensed;}
